
.container{
    margin-top: 50px;
}


progress {
    border-radius: 9px;
    width: 500px;
    margin-bottom: auto;
}

/*Background color of the progress bar*/
progress::-webkit-progress-bar { background: grey; }

/*background color of the progress*/
progress::-webkit-progress-value { background: green; }

progress[value^="9"]::-webkit-progress-value{
    background-color: yellow;
}
progress[value^="1"]::-webkit-progress-value{
    background-color: red;
}


