
.container{
    margin-top: 50px;
}


progress {
    border-radius: 19px;
    width: 500px;
    margin: 10px;
    height: 20px;
}

.selectedRow{
    background: none repeat scroll 0 0 yellow;
    width: 530px;

}

/*Background color of the progress bar*/
progress::-webkit-progress-bar { background: grey; }

/*background color of the progress*/
progress::-webkit-progress-value { background: green; }

progress[value^="9"]::-webkit-progress-value{
    background-color: blue;
}
progress[value^="1"]::-webkit-progress-value{
    background-color: red;
}


